/* -------------------------------------------------------- posts section */

h1.category-name {
    font-size: 4rem;
    margin: 7.5rem auto 2rem auto;
  } 
  
  @media (width >= 900px) {
    h1.category-name {
      font-size: 6rem;
    } 
  }
  
  .posts-section h5.sub-category-name {
    font-style: italic;
    margin-bottom: 10rem;
  }
  
  .posts-section h5.sub-category-name .em {
    font-style: normal;
    font-weight: 600;
  }
  
  
  .post-container {
    max-width: 85%;
    margin: 50px auto;
    background-color: var(--off-white);
    padding: 1rem;
    /* box-shadow: 0px 1px 12.5px 0px rgba(255, 255, 255, 0.06); */
  }
  
  .post-container .media {
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .post-container .media.loading {
    background-color: red;
    opacity: 0;

  }

  .post-container .media.loaded {
    opacity: 1;
  }
  

  

  
  /* for phone landscape-mode and laptops */
  
  @media (width >= 700px) {
    .post-container {
      max-width: 35%;
    }
  }
  
  