:root {
  /* color pallet */
  --darkblue: #141826;
  --bluegreen: #127373;
  --yellow: #F2C777;
  --pink: #BF3475;
  --main-text-color: #141c3a;
  --ashblue: #7393B3;
  --off-white: #efefef;
  --shadow: 0 0 21px 0 rgba(20, 28, 58, 0.7);
  --charcoal: #36454F;
  --white: #ffffff;
  /* fonts  */
  --main-font: 'IBM Plex Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
  /* measurements */
  --header-height: 70px;
}

/* -------------------------------------------------------- posts section */

h1.category-name {
    font-size: 4rem;
    margin: 7.5rem auto 2rem auto;
  } 
  
  @media (width >= 900px) {
    h1.category-name {
      font-size: 6rem;
    } 
  }
  
  .posts-section h5.sub-category-name {
    font-style: italic;
    margin-bottom: 10rem;
  }
  
  .posts-section h5.sub-category-name .em {
    font-style: normal;
    font-weight: 600;
  }
  
  
  .post-container {
    max-width: 85%;
    margin: 50px auto;
    background-color: var(--off-white);
    padding: 1.25rem;
    border-radius: 2px;
    /* box-shadow: 0px 1px 12.5px 0px rgba(255, 255, 255, 0.06); */
  }

  .post-container .media-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post-container .media {
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    /* border: 1.25rem solid #fff; */
    transition: opacity 0.2s ease-in-out;
  }



  /* -------------------------------------------------------------------------- Media Loading...  */


  .post-container .media.loading {
    opacity: 0;
  }

  .post-container .media.loaded {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  

  /* .post-container .media-container.loaded {
    background-color: var(--off-white);
  } */

  .media-container .loading-skeleton-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    border-radius: 3px;
    /* background-color: var(--charcoal); */
  }



  .loading-skeleton-container.loaded {
    opacity: 0;
  }

  .loading-skeleton-container .icon-wrapper {
    position: absolute;
    width: 100%;
  }

  .loading-skeleton-container .icon-wrapper svg {
    display: block;
    margin: 0 auto;
    font-size: 10rem;
  }



  .loading-skeleton-container h5.loading-message {
    display: none;
    /* position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    font-weight: 700;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 0 10px 0 0; */
  }


  .loading-skeleton-animation {
    animation: loading-skeleton 1.2s linear infinite alternate;
  }

  .loading-skeleton-animation.loaded {
    background-color: var(--off-white);
    animation: none;
  }


  @keyframes loading-skeleton {
     0% {
      background-color: hsla(200 20% 70% / 0.7);
      color: hsla(200 20% 60% / 0.7)
     }

     100% {
      background-color: hsla(200 20% 90% / 0.7);
      color: hsla(200 20% 85% / 0.7)
     }
  }
  


  
  /* for phone landscape-mode and laptops */
  
  @media (width >= 700px) {
    .post-container {
      max-width: 35%;
    }
  }
  
  