button.fsm-button.enter {
  color: #000;
  position: relative;
  float: right;
  padding: 0;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.8rem;
}

.post-menu .text-section {
  position: relative;
}

.post-menu .title-wrapper {
  width: 70%;
  padding: 8rem 0 1.5rem 0;
  margin: 0 auto;
}

.post-menu .title-wrapper h5 {
  letter-spacing: 0.8px;
  line-height: 4rem;
  font-size: 2.2rem;
  font-family: var(--poppins);
  /* overflow-x: auto;
  overflow-y: hidden; */
}

.post-menu .author-url {
  text-align: center;
  margin-bottom: 1.5rem;
}
.post-container .author-url a,
.post-container .author-url a {
  text-decoration: none;
  font-size: 1.4rem;
}

.post-container .post-menu-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.post-menu-footer a {
  font-size: 1rem;
  display: none;
}

/* ----------------------------------------------- Text Loading Skeleton */

.text-skeleton-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: hsl(0 0% 100%);
  opacity: 1;
  pointer-events: none;
}

.text-skeleton-container.loaded,
.text-skeleton-container.loaded .text-skeleton {
  display: none;
}

.text-skeleton {
  min-width: 100%;
  position: absolute;
  bottom: 20%;
  pointer-events: none;
}

.text-skeleton.author {
  bottom: 3%;
}

.text-skeleton .child {
  width: 65%;
  height: 1.4rem;
  margin: 0 auto;
  margin-bottom: 0.7rem;
  border-radius: 3px;
}

.text-skeleton .child:last-child {
  width: 60%;
}

.text-skeleton.author .child {
  width: 15%;
  height: 0.8rem;
}
