  button.full-screen.enter {
  float: right;
  margin-top: 0.8rem;
  border: none;
  padding: 0;
  /* background-color: aqua; */
  z-index: 11;
}

button.full-screen.enter .icon {
  font-size: 1.5rem;
  border: none;
}


.post-menu .author-url {
  text-align: center;
  margin-bottom: 4rem;
}
.post-container .author-url a,
.post-container .author-url a {
  text-decoration: none;
}

.post-container .post-menu-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.post-menu-footer a {
  font-size: 1rem;
}



