:root {
  --darkblue: #141826;
  --bluegreen: #127373;
  --yellow: #f2c777;
  --pink: #bf3475;
  /* fonts  */
  --ibm-plex-sans: "IBM Plex Sans", sans-serif;
  /* measurements */
  --header-height: 70px;
  /* timing */
  --transition-time: 0.2s;
  --transition-type: ease-in-out;
}

.nav-bar-column a {
  text-decoration: none;
  color: #000;
}

.nav-bar-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: stretch;
  column-gap: 3rem;
  margin-bottom: 1rem;
}

.nav-bar-column .category-name {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  border-left: 6px solid hsla(0 0% 0% / 0%);
  padding: 1rem;
  display: block;
}

.nav-bar-column a.category-name.active {
  background-color: hsla(0 0% 100% / 0.5);
  border-left: 6px solid var(--pink);
}

.nav-bar-column a.category-name.expanded,
.nav-bar-column a.category-name.active.expanded {
  border-radius: 0 8px 0px 0;
  color: #fff;
  background-color: var(--pink);
  transition: color var(--transition-time) var(--transition-type), background-color var(--transition-time) var(--transition-type);
}

.nav-bar-column .category-name .icon {
  display: block;
  float: right;
  color: #fff;
  background-color: var(--pink);
  border-radius: 5px;
  transform: rotate(0deg);
  transition: all var(--transition-time) var(--transition-type);
}

.nav-bar-column a.category-name.expanded .icon {
  transform: rotate(90deg);
  color: var(--pink);
  background-color: hsla(0 0% 100% / 0.8);
}

.nav-bar-column .sub-menu {
  z-index: 10;
  opacity: 0;
  position: static;
  overflow: hidden;
  top: var(--header-height);
  background-color: #fff;
  padding-top: 1rem;
  border-radius: 0 0 8px 0;
  pointer-events: none;
  background-color: hsla(0 0% 100% / 0);
  transition: all var(--transition-time) var(--transition-type);
}

.nav-bar-column .sub-menu.expanded {
  display: block;
  opacity: 1;
  margin-bottom: 1.5rem;
  background-color: hsla(0 0% 100% / 0.5);
  pointer-events: auto;
}

.nav-bar-column .sub-category a {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem 1rem;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 2.5rem;
  background-color: inherit;
  color: #000;
  transition: all 0.35s ease-out;
}

.nav-bar-column .sub-category a.active {
  background-color: hsla(0 0% 100% / 0.7);
  font-weight: 700;
  color: var(--pink);
}

@media (width >= 850px) {

  .nav-bar-column .sub-category a {
    transition: all 0s;
  }

  .nav-bar-column .category-name:hover,
  .nav-bar-column .category-name.active:hover {
    color: #000;
    border-left: 6px solid #fff;
    background-color: hsla(0 0% 100% / 0.5);
  }

  .nav-bar-column .sub-menu .sub-category a:hover {
    /* border-left: 6px solid #fff; */
    /* color: #000; */
    background-color: hsla(0 0% 100% / 0.75);
  }
}

/*----------------------------------------------------------------------------------------------- sub-sub menu ----- */



.nav-bar-column .sub-sub-parent a.parent-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  background-color: inherit;
  transition: all var(--transition-time) var(--transition-type);
}

.nav-bar-column .sub-sub-parent a.parent-name.active {
  color: var(--pink);
  background-color: hsla(0 0% 100% / 0.7); 
}

.nav-bar-column .sub-sub-parent a.parent-name.expanded {
  color: #fff;
  background-color: var(--pink);
}


.nav-bar-column .sub-sub-parent a.parent-name .icon {
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--pink);
  border-radius: 4px;
  margin-right: 0.5rem;
  transform: rotate(0);
}

.nav-bar-column .sub-sub-parent a.parent-name.expanded .icon {
  transform: rotate(90deg);
  color: var(--pink);
  background-color: hsla(0 0% 100% / 0.8);
}


.nav-bar-column .sub-sub-parent ul.sub-sub-menu {
  opacity: 0;
  transition: all var(--transition-time) var(--transition-type);
}


.nav-bar-column .sub-sub-parent ul.sub-sub-menu.expanded {
  opacity: 1;
}




.nav-bar-column li.sub-sub-category a.child-name {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  padding-left: 4rem;
}



.nav-bar-column li.sub-sub-category:hover a.child-name {
  background-color: hsla(0 0% 100% / 0.7);
}


.nav-bar-column li.sub-sub-category:first-child a.child-name {
  padding-top: calc(0.5rem + 0.7rem);

}

.nav-bar-column li.sub-sub-category:last-child a.child-name {
  padding-bottom: calc(0.5rem + 0.2rem);
}



