/* full screen mode */



body.freeze-scroll {
  overflow: hidden;

}

.full-screen-container {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.media.full-screen {
  /* might have to size conditionally based on height or width depending on landscape or portrait  */
  top: 0;
  left: 0;
  margin: 0;



  z-index: 10;
}
