:root {
  --grey: #aca6a6;
  --light-grey: #ececec;
  --google-blue: #4285f4;
  --black: #000;
  --white: #fff;
}


.gallery-container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  min-height: auto;
}

.gallery-container .sliding-stack {
  position: relative;
  overflow: hidden;
  width: 100%;
}


.sliding-stack .media-container.hidden {
  position: absolute;
  top: 0;
  right: 100%;
}

/* ---------------------------------------------------------- gallery animation */

.media-container.next-slide-in {
  animation: next-slide-in ease-in-out 0.5s forwards;
}

.media-container.next-slide-in.main {
  /* this prevents slide animation from firing onInitialLoading of gallery "main" media (at index 0) */
  animation: none;
}

.media-container.next-slide-out {
  animation: next-slide-out ease-in-out 0.5s forwards;
}

.media-container.prev-slide-in {
  animation: prev-slide-in ease-in-out 0.5s forwards;
}

.media-container.prev-slide-out {
  animation: prev-slide-out ease-in-out 0.5s forwards;
}




@keyframes next-slide-in {
  0% {
    right: -100%;
    opacity: 70%;
  }
  100% {
    right: 0;
    opacity: 100%;
  }
}

@keyframes next-slide-out {
  0% {
    left: 0;
    opacity: 100%;
  }
  100% {
    left: -100%;
    opacity: 70%;
  }
}

@keyframes prev-slide-in {
  0% {
    left: -100%;
    opacity: 70%;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}

@keyframes prev-slide-out {
  0% {
    right: 0;
    opacity: 100%;
  }
  100% {
    right: -100%;
    opacity: 70%;
  }
}





/* ------------------------------------------------------------ Buttons --------- */


.gallery-container button {
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  transition: transform 45ms;
}

.gallery-container button:active {
  transform: scale(0.95);
}


.gallery-container button .icon {
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  box-shadow: 0 4px 14px rgba(0,0,0,.1);
  opacity: 1;
  transition: 0.8s;
}

.gallery-container button .icon.left {
  left: -2.2rem;
  padding-right: 2px;
  
}

.gallery-container button .icon.right {
  right: -2.2rem;
  padding-left: 2px;
}


.gallery-container button:active {
  font-size: 3rem;
  color: var(--google-blue);
}



button .icon.first,
button .icon.last {
  opacity: 0;
  transition: 0.25s;
}


@media(width >= 900px) {
  /* Desktop */
    .gallery-container button .icon {
      font-size: 2rem;
      min-width: 4rem;
      min-height: 4rem;
    }

    .gallery-container button .icon.left {
      left: -2.7rem;
      
    }
    
    .gallery-container button .icon.right {
      right: -2.7rem;
    }
    
  }
  
  




/* ------------------------------------------------------------ Media Counter ------ */

.media-counter {
  display: flex;
  padding-top: 1.4rem;
  justify-content: center;
  margin-bottom: -2.2rem;
}

.media-counter .circle-icon {
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--light-grey);
  border: 0.8px solid #000;
  margin: 0 0.3rem;
}

.media-counter .circle-icon.current {
  background-color: var(--google-blue);
}




