.sliderWrapper {
    padding: 2%;
}

.sliderWrapper h2 {
    font-size: 3rem;
    font-weight: 600;
}

.slider {
    background-color: black;
    width: 100%;
    min-height: 30px;
    display: flex;
    overflow: scroll;
    margin: 1rem 0;
}

.slider .slide {
    flex-shrink: 0;
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin: 10px;
    
}