/* full screen mode */



body.freeze-scroll {
  overflow: hidden;

}

.full-screen-container {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  /* height: 100%;
  width: 100%; */
  display: flex;

  justify-content: center;
}

.full-screen-container button {
  border-left: 1px solid black;
  padding: 4px;
  margin: 0;
}

.full-screen-container button .icon {
  font-size: 1.8rem;
}

/* .media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.media.full-screen {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}

