/* full screen mode */



body#freeze-scroll {
  overflow: hidden;
}

.full-screen-container {
  z-index: 101;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  /* align-items is for mobile */
  align-items: center;
}

.full-screen-container button.exit {
  border-left: 1px solid black;
  padding: 4px;
  margin: 0;
  height: 100%;
}

.full-screen-container button.exit .icon {
  font-size: 1.8rem;
}

/* .media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.media.full-screen {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}

