body.freeze-scroll {
  overflow: hidden;
  background-color: #000;
}

button.fsm-button.enter {
  margin-top: 0.8rem;
  border: none;
  z-index: 1;
}

button.fsm-button.enter .icon {
  font-size: 1.5rem;
}


/* ------------------------------------------ Full Screen Container */


.full-screen-container {
  z-index: 101;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  /* align-items is for mobile */
  align-items: center;
}

button.fsm-button.exit {
  border: 0;
  border-left: 1px solid #000;
  padding: 4px;
  margin: 0;
  height: 100%;
}
button.fsm-button.exit .icon {
  font-size: 1.8rem;
}

.media.full-screen {
  top: 0;
  left: 0;
  margin: 0;
}