@supports (aspect-ratio: 1) {
    .iframe-container {
        z-index: 1;
    }
    
    .iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    /* the padding-bottom below is the aspect ratio quotient of 16 / 9
    (i.e. 9 / 16 = 0.5625) */
    padding-bottom: 56.25%; 
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}