@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
/* 
font-family: 'IBM Plex Sans', sans-serif;
 */

:root {
  /* color pallet */
  --darkblue: #141826;
  --bluegreen: #127373;
  --yellow: #F2C777;
  --pink: #BF3475;
  --main-text-color: #141c3a;
  --gray: rgba(20, 28, 58, 0.5);
  --ashblue: #7393B3;
  --off-white: #efefef;
  --shadow: 0 0 21px 0 rgba(20, 28, 58, 0.7);
  --charcoal: #36454F;
  --white: #ffffff;
  /* fonts  */
  --main-font: 'IBM Plex Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
  /* measurements */
  --header-height: 70px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: var(--main-font);
  background-color: var(--pink);
  height: 100%;
}

.app {
  display: relative;
}

header {
  position: absolute;
}



h3 {
  font-size: 3.5rem;
  text-align: center;
  padding: 0 0 1rem 0;
}

h5 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------------------- temporary */

header {
  margin: 0;
  padding: 0;
}

main {
  padding-top: var(--header-height);
}



/* ------------------------------------------------------------- Header & Nav */



#genre {
  width: 200px;
}


