@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
/* 
font-family: 'IBM Plex Sans', sans-serif;
 */

:root {
  /* color pallet */
  --darkblue: #141826;
  --bluegreen: #127373;
  --yellow: #F2C777;
  --pink: #BF3475;
  --main-text-color: #141c3a;
  --gray: rgba(20, 28, 58, 0.5);
  --ashblue: #7393B3;
  --off-white: #efefef;
  --shadow: 0 0 21px 0 rgba(20, 28, 58, 0.7);
  --charcoal: #36454F;
  --white: #ffffff;
  /* fonts  */
  --main-font: 'IBM Plex Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--pink);
}

h1 {
  display: block;
  width: fit-content;
  color: black;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
  margin: 8rem auto;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  padding: 0 0 1rem 0;
}

h5 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------------------- temporary */
.userAlert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  padding: 5%;
}
.userAlert .icon {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.userAlert p {
  font-size: 1.5rem;
  text-align: center;
}



/* ------------------------------------------------------------- Header & Nav */

nav {
  min-height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
  box-shadow: 0px 2px 12.5px 2px rgba(107, 108, 109, 0.062);
}




#genre {
  width: 200px;
}

/* -------------------------------------------------------- Main Banner */

.main-banner {
  width: 100%;
  margin-top: 160px;

}

.main-banner img {
  width: 100%;
}

/* -------------------------------------------------------- posts section */
.posts-section h5 {
  font-style: italic;
  margin-top: 4rem;
  margin-bottom: 15rem;
  
}

.posts-section h5 .em {
  font-style: normal;
  font-weight: 600;
}

.post-container {
  max-width: 85%;
  margin: 50px auto;
  background-color: var(--off-white);
  padding: 1rem;
  /* box-shadow: 0px 1px 12.5px 0px rgba(255, 255, 255, 0.06); */
}

.post-container .media {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-container h5 {
  font-family: var(--poppins);
  font-size: 2.4rem;
  letter-spacing: 0.8px;
  line-height: 4rem;
  padding: 4rem 0 1.6rem 0;
  max-width: 70%;
  margin: 0 auto;
  text-overflow: hidden;
}


@media only screen and (min-width: 900px) {
  .post-container {
    max-width: 35%;
  }
}

/* -------------------------------- gallery */
/* for gallery animation go to embedGal.css */
