:root {
  --darkblue: #141826;
  --bluegreen: #127373;
  --yellow: #f2c777;
  --pink: #bf3475;
  /* fonts  */
  --ibm-plex-sans: "IBM Plex Sans", sans-serif;
    /* measurements */
    --header-height: 70px;
}

.search-container {
  /* this prevents navbar from moving around during search-bar icon animation on hover */
  min-width: 70px;

}

.search-container button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 15px 8px 8px 8px;
  min-width: 4rem;
}
.search-container .icon {
  font-size: 3rem;
  color: var(--pink);
  transition: transform 100ms ease-in-out;
}

@media(width >= 1000px){
  .search-container button:hover .icon {
    transform:scale(1.15);
  }
}

.search-container .input-container {
  position: absolute;
  right: 0px;
  top: var(--header-height);
  width: 100%;
  height: 0px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  transition: height 0.3s ease;
}

.search-container .input-container.expanded {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.input-container input {
  position: relative;
  min-width: 80%;
  font-size: 2rem;
  border: none;
  padding: 0;
  margin: 0;
  height: 0px;
  transition: height 0.3s ease;
}

.input-container.expanded input {
  position: relative;
  height: 60px;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #36454f;
  font-weight: 600;
}

.input-container input::-webkit-input-placeholder {
  font-size: 2rem;
  color: #d3d3d3;
  font-weight: 800;
}
