:root {
    --darkblue: #141826;
    --bluegreen: #0a3b3b;
    --yellow: #F2C777;
    --pink: #BF3475;
}

.dropdown-container {
    z-index: 1;
}

.dropdown-container button {
    font-size: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--pink);
    border: none;
    transition: all 0.3s ease;
}

.dropdown-container button.expanded {
    transform: rotate(180deg);
    font-weight: 700;
}

.dropdown {
    position: absolute;
    left: 0px;
    top: 80px;
    min-width: 250px;
    min-height: 0px;
    margin-top: 5px;
    background-color: var(--bluegreen);
    transition: min-height 0.3s ease;
}

.dropdown.expanded {
    min-height: 306px;
    padding: 4px;
}

.dropdown.expanded p {
    margin: 1rem 0;
    color: #fff;
}