:root {
    --darkblue: #141826;
    --bluegreen: #0a3b3b;
    --yellow: #F2C777;
    --pink: #BF3475;
    --blue : #3977CB;
    /* measurements */
    --header-height: 80px;
}



.side-menu-container button {
    position: relative;
    z-index: 21;
    display: flex;
    align-items: center;
    min-width: 65px;
    padding: 14px;
    padding-top: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--pink);
    border: none;
    transition: all 0.3s ease;
}

.side-menu-container button .icon {
    font-size: 3rem;
}

.side-menu-container button.expanded {
    transform: rotate(180deg);
    font-weight: 700;
}


.nav-bar-container {
    z-index: 20;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    padding-top: calc(var(--header-height) + 1rem);
    background: hsla(0, 0%, 100% / 0.1);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1.6rem);
    -webkit-backdrop-filter: blur(1.6rem);
    transform: translateX(-200px);
    transition: transform 150ms ease-in, opacity 150ms ease-in;

}

.nav-bar-container.expanded {
    /* height is set inside the MobileMenu react component */
    opacity: 1;
    transform: translateX(0px);
}


.nav-bar-container .nav-bar-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}


.nav-bar-container .extra-height {
    width: 50px;
    height: 50vh;
}









