/* To Do:
1. Figure out how to auto center video vertically
2. ask Leo about how to ensure video banner quality is not lost on live online version of the app
*/

.main-banner {
  position: relative;
  width: 100%;
}

.main-banner #headerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner h1 {
  color: white;
  font-size: 5.5vw;
  font-weight: 700;
}



.main-banner #videoContainer {
  display: block;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

#videoContainer #thumbnail.hide {
  display: none;
}

#videoContainer video,
#videoContainer #thumbnail {
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  max-width: 500%;
  filter: brightness(40%);
}

@media (width > 2000px){
  #videoContainer video,
  #videoContainer #thumbnail {
    bottom: 20vw;
  }
}

@media (width <= 1400px) {
  .main-banner h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0 10%;
    line-height: 2ch;
  }
}

@media (width <= 750px) {
  .main-banner h1 {
    font-size: 3.5rem;
  }
}

/* .userAlert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  padding: 5%;
}
.userAlert .icon {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.userAlert h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.userAlert p {
  font-size: 1.5rem;
  text-align: center;
} */
